<a href="https://colab.research.google.com/github/septianyogi/Machine-Learning/blob/main/Pertemuan2/Pertemuan2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv("/content/apartemen2.csv")
print(df)

   KodeApt   Wilayah St_Milik Jum_Kamar
0    104.0    Bantul        Y         3
1    197.0    Sleman        N         3
2      NaN    Sleman        N       NaN
3    201.0     Yogya       12         1
4    203.0     Yogya        Y         3
5    207.0     Yogya        Y       NaN
6      NaN  KL-Progo      NaN         2
7    213.0    Bantul        Y        --
8    215.0    Bantul        Y        na

**cek adakah data null. jika ada berapa jumlahnya**

In [40]:
# cek ada missing values
df.isnull().values.any()

True

In [41]:
# banyaknya missing values
df.isnull().sum().sum()

5

In [42]:
# melihat kolom kodeapt
df['KodeApt']

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: KodeApt, dtype: float64

In [43]:
df['KodeApt'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: KodeApt, dtype: bool

In [44]:
# melihat data pada kolom jum_kamar dan mengecek data null ada kolom tersebut
df['Jum_Kamar']

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7     --
8     na
Name: Jum_Kamar, dtype: object

In [45]:
df['Jum_Kamar'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: Jum_Kamar, dtype: bool

In [46]:
# membuat daftar missing values dan cek kemnali data pada kolom jum_kamar (no 7 dan no 8). apa artinya?
# membuat daftar missing values
missing_values = ["n/a", "na", "--"]
df = pd.read_csv("/content/apartemen2.csv", na_values = missing_values)
df['Jum_Kamar']

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    NaN
8    NaN
Name: Jum_Kamar, dtype: float64

In [47]:
df['Jum_Kamar'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7     True
8     True
Name: Jum_Kamar, dtype: bool

In [48]:
# membuat daftar missing values dan cek data pada kolom St_Milik (no 3). apa artinya ?
df['St_Milik']

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: St_Milik, dtype: object

In [49]:
df['St_Milik'].isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: St_Milik, dtype: bool

In [50]:
# hitung kembali total missing values pada setiap kolom 
df.isnull().sum()

KodeApt      2
Wilayah      0
St_Milik     1
Jum_Kamar    4
dtype: int64

In [51]:
# banyaknya missing values 
df.isnull().sum().sum()

7

In [52]:
# mengisi missing values dengan angka pada lokasi yang spesifik
# mengganti missing values dengan sebuah angka
df['KodeApt'].fillna(837, inplace=True)
print(df.KodeApt)
# mengganti pada lokasi spesifik
df.loc[2, 'KodeApt'] = 8837
print(df.KodeApt)

0    104.0
1    197.0
2    837.0
3    201.0
4    203.0
5    207.0
6    837.0
7    213.0
8    215.0
Name: KodeApt, dtype: float64
0     104.0
1     197.0
2    8837.0
3     201.0
4     203.0
5     207.0
6     837.0
7     213.0
8     215.0
Name: KodeApt, dtype: float64

In [57]:
# mengisi missing values dengan nilai median
#mengganti missing values dengan median 
median = df['Jum_Kamar'].median()
df['Jum_Kamar'].fillna(median, inplace=True)
print(df.Jum_Kamar)

0    3.0
1    3.0
2    3.0
3    1.0
4    3.0
5    3.0
6    2.0
7    3.0
8    3.0
Name: Jum_Kamar, dtype: float64

In [58]:
print(df)

   KodeApt   Wilayah St_Milik  Jum_Kamar
0    104.0    Bantul        Y        3.0
1    197.0    Sleman        N        3.0
2   8837.0    Sleman        N        3.0
3    201.0     Yogya        N        1.0
4    203.0     Yogya        Y        3.0
5    207.0     Yogya        Y        3.0
6    837.0  KL-Progo        Y        2.0
7    213.0    Bantul        Y        3.0
8    215.0    Bantul        Y        3.0

In [59]:
#mengganti data non numerik pada lokasi yang spesifik
# mengganti pada lokasi spesifik pada kolom St_Milik
df.loc[3, 'St_Milik'] = 'N'
df.loc[6, 'St_Milik'] = 'Y'
print(df)

   KodeApt   Wilayah St_Milik  Jum_Kamar
0    104.0    Bantul        Y        3.0
1    197.0    Sleman        N        3.0
2   8837.0    Sleman        N        3.0
3    201.0     Yogya        N        1.0
4    203.0     Yogya        Y        3.0
5    207.0     Yogya        Y        3.0
6    837.0  KL-Progo        Y        2.0
7    213.0    Bantul        Y        3.0
8    215.0    Bantul        Y        3.0

In [60]:
df.to_csv('/content/Apartement_ok.csv')

In [64]:
# mengubah data non numerik menjadi numerik
# Library
from sklearn.preprocessing import LabelEncoder
from pandas import DataFrame
# mengosongkan df dengan cara mengimportkan
import pandas as pd
import numpy as np
# baca file
df = pd.read_csv('/content/Apartement_ok.csv')
# melihat semua isi data
print(df)
le = LabelEncoder()
for col in df.columns.values:
  #encoding pada variable kategorial
  if df[col].dtypes == 'object':
    data=df[col].append(df[col])
    le.fit(data.values)
    df[col]=le.transform(df[col])
df.head(10)

   Unnamed: 0  KodeApt   Wilayah St_Milik  Jum_Kamar
0           0    104.0    Bantul        Y        3.0
1           1    197.0    Sleman        N        3.0
2           2   8837.0    Sleman        N        3.0
3           3    201.0     Yogya        N        1.0
4           4    203.0     Yogya        Y        3.0
5           5    207.0     Yogya        Y        3.0
6           6    837.0  KL-Progo        Y        2.0
7           7    213.0    Bantul        Y        3.0
8           8    215.0    Bantul        Y        3.0

   Unnamed: 0  KodeApt  Wilayah  St_Milik  Jum_Kamar
0           0    104.0        0         1        3.0
1           1    197.0        2         0        3.0
2           2   8837.0        2         0        3.0
3           3    201.0        3         0        1.0
4           4    203.0        3         1        3.0
5           5    207.0        3         1        3.0
6           6    837.0        1         1        2.0
7           7    213.0        0         1        3.0
8           8    215.0        0         1        3.0

In [ ]:
df.to_csv('content/Apartement_numerik.csv')